
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  scroll-behavior: auto;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@import "tailwindcss";



@theme {
  --color-nav01: #FFEDDE;
  --color-nav02: #FFF4EB;
  --color-primary: #FFFFFF;
  --color-primary-dark: #000000;
  --color-secondary: #343434;
  --color-btn01: #EF7F23;
  --color-btn02: #E74728;
  --color-btn-light: #E74728;
  --color-btn-biget01: #88F2C5;
  --color-btn-biget02: #ABACFF;
  --color-btn-biget03: #FFDABC;
}


.animated-text {
  display: inline-block;
  background: linear-gradient(90deg, #38bdf8, #a855f7, #f97316, #14b8a6);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: text-shimmer 3s ease infinite;
}

@keyframes text-shimmer {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}